{% extends 'base.html' %}

{% block head %}
<title>Binance Simple App</title>
{% endblock %}

{% block body %}
<div class="content">
    <h3>Historical prices for point "BTCUSDT" of 1 Before</h3>
    <table class="table table-striped table-hover" style="width: 50%;margin:auto;">
        <thead>
          <tr>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
          </tr>
        </thead>
        <tbody>
          
            {% for data in history_data %}
            <tr>
                <td>{{ data.close }}</td>
                <td>{{ data.high }}</td>
                <td>{{ data.low }}</td>
                <td>{{ data.open }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <br>

    <!-- <table>
        <tr>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>time</th>
        </tr>

        {% for data in history_data %}
            <tr>
                <td>{{ data.close }}</td>
                <td>{{ data.high }}</td>
                <td>{{ data.low }}</td>
                <td>{{ data.open }}</td>
                <td>{{ data.time }}</td>
               
            </tr>
        {% endfor %}
    </table> -->

</div>
{% endblock %}

